@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 100% 97%;
    --foreground: 224 76% 15%;
    --card: 0 0% 100%;
    --card-foreground: 224 76% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 76% 15%;
    --primary: 224 100% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 50% 92%;
    --secondary-foreground: 224 76% 15%;
    --muted: 220 30% 94%;
    --muted-foreground: 224 10% 40%;
    --accent: 174 100% 32%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 50% 90%;
    --input: 222 50% 90%;
    --ring: 224 100% 58%;
    --chart-1: 224 100% 58%;
    --chart-2: 174 100% 32%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 76% 10%;
    --foreground: 0 0% 98%;
    --card: 224 76% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 224 76% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 224 100% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 20% 20%;
    --muted-foreground: 224 5% 65%;
    --accent: 174 100% 32%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 20% 20%;
    --input: 224 20% 20%;
    --ring: 224 100% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
